In [51]:
import csv

In [52]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.2)
Requirement already satisfied: trio~=0.17 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from selenium) (0.26.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from selenium) (2024.7.4)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mudit\anaconda3\envs\upstox\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
from selenium import webdriver
import shutil
import os
import pandas as pd

In [12]:
website = 'https://www.nseindia.com/option-chain'
chrome_path = r'C:\Users\mudit\Documents\chrome-win64\chrome-win64'
driver = webdriver.Chrome()
driver.get(website)
xd = driver.find_element ("xpath", '//*[@id="download_csv"]')
xd.click()

source_path = r"C:\Users\mudit\Downloads\option-chain-ED-NIFTY-18-Jul-2024.csv" 
destination_folder = r'C:\LMS\Str\greeks_dashboard\greeks_dashboard\input_data' 
destination_path = os.path.join(destination_folder, os.path.basename(source_path))
shutil.move(source_path, destination_path)

'C:\\LMS\\Str\\greeks_dashboard\\greeks_dashboard\\input_data\\option-chain-ED-NIFTY-18-Jul-2024.csv'

In [45]:
import pandas as pd

def remove_first_two_rows(input_file_path, output_file_path):
    """
    Remove the first two rows above the column headings in a CSV file and save the result to a specified location.
    
    Parameters:
    input_file_path (str): The path to the input CSV file.
    output_file_path (str): The path to save the output CSV file.
    """
    # Read the CSV file, skipping the first two rows
    df = pd.read_csv(input_file_path, skiprows=1)
    
    # Save the modified DataFrame to the output file
    df.to_csv(output_file_path, index=False)


# Example usage
input_file_path= r'C:\Users\mudit\Downloads\option-chain-ED-NIFTY-18-Jul-2024 (1).csv'
output_file_path = r'C:\Users\mudit\Downloads\corrected_example.csv'
remove_first_two_rows(input_file_path, output_file_path)

In [37]:
def remove_columns(input_file_path, output_file_path, columns_to_remove):
    """
    Remove specified columns from a CSV file and save the result to a specified location.
    
    Parameters:
    input_file_path (str): The path to the input CSV file.
    output_file_path (str): The path to save the output CSV file.
    columns_to_remove (list): A list of column names to be removed.
    """
    # Read the CSV file into a DataFrame
    df = pd.read_csv(input_file_path)
    
    # Print the original columns
    print("Original columns:")
    print(df.columns)
    
    # Remove the specified columns
    df.drop(columns=columns_to_remove, inplace=True)
    
    # Print the new columns
    print("New columns after removal:")
    print(df.columns)
    
    # Save the modified DataFrame to the output file
    df.to_csv(output_file_path, index=False)

# Example usage
input_file_path = r'C:\Users\mudit\Downloads\corrected_example.csv'
output_file_path = r'C:\Users\mudit\Downloads\removed_example.csv'
columns_to_remove = ['Unnamed: 0',
       'BID QTY', 'BID', 'ASK', 'ASK QTY', 'BID QTY.1', 'BID.1',
       'ASK.1', 'ASK QTY.1', 'Unnamed: 22']
remove_columns(input_file_path, output_file_path, columns_to_remove)

Original columns:
Index(['Unnamed: 0', 'OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG',
       'BID QTY', 'BID', 'ASK', 'ASK QTY', 'STRIKE', 'BID QTY.1', 'BID.1',
       'ASK.1', 'ASK QTY.1', 'CHNG.1', 'LTP.1', 'IV.1', 'VOLUME.1',
       'CHNG IN OI.1', 'OI.1', 'Unnamed: 22'],
      dtype='object')
New columns after removal:
Index(['OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG', 'STRIKE', 'CHNG.1',
       'LTP.1', 'IV.1', 'VOLUME.1', 'CHNG IN OI.1', 'OI.1'],
      dtype='object')

In [33]:
input_file_path = r'C:\Users\mudit\Downloads\corrected_example.csv'

df = pd.read_csv(input_file_path)

In [34]:
df

,Unnamed: 0,OI,CHNG IN OI,VOLUME,IV,LTP,CHNG,BID QTY,BID,ASK,...,BID.1,ASK.1,ASK QTY.1,CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1,Unnamed: 22
0,NaN,402,-,-,-,"2,758.75",34.95,525,"2,800.65","2,927.70",...,0.50,0.55,"18,400",-0.35,0.50,33.50,"5,35,133","39,531","1,00,768",NaN
1,NaN,31,-,-,-,"2,615.00",-,525,"2,761.50","2,874.75",...,0.55,0.60,"31,100",-0.35,0.55,33.22,"2,28,969","31,551","49,701",NaN
2,NaN,3,3,4,-,"2,707.05",869.15,"1,775","2,624.20","2,849.60",...,0.55,0.65,125,-0.35,0.55,32.65,"87,964","12,441","13,545",NaN
3,NaN,26,-,-,-,"2,518.00",-,525,"2,657.40","2,769.45",...,0.55,0.60,325,-0.30,0.60,32.34,"1,10,143","16,776","21,015",NaN
4,NaN,112,-,-,-,"2,552.55",-,"1,775","2,465.40","2,755.40",...,0.60,0.65,"24,900",-0.30,0.60,31.77,"51,371","6,750","7,374",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,NaN,"1,39,233","34,725","6,09,308",16.44,0.50,-0.25,"3,55,625",0.45,0.50,...,"1,472.65","1,480.85",75,-257.60,"1,475.35",27.86,68,38,51,NaN
88,NaN,"17,701","16,500","65,511",16.57,0.40,-0.45,"2,96,300",0.40,0.45,...,"1,436.15","1,599.10",525,-,-,-,-,-,-,NaN
89,NaN,"13,144","12,227","60,369",17.05,0.40,-0.45,"3,12,100",0.40,0.45,...,"1,485.70","1,655.45",525,-,-,-,-,-,-,NaN
90,NaN,"19,412","18,325","85,035",17.53,0.40,-0.45,"80,550",0.40,0.45,...,"1,534.00","1,708.55",525,-,-,-,-,-,-,NaN
91,NaN,"1,08,969","35,322","3,36,778",18.00,0.40,-0.35,"1,92,475",0.40,0.45,...,"1,582.30","1,748.80",525,-940.20,"1,691.05",34.89,1,1,1,NaN

In [35]:
df.columns

Index(['Unnamed: 0', 'OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG',
       'BID QTY', 'BID', 'ASK', 'ASK QTY', 'STRIKE', 'BID QTY.1', 'BID.1',
       'ASK.1', 'ASK QTY.1', 'CHNG.1', 'LTP.1', 'IV.1', 'VOLUME.1',
       'CHNG IN OI.1', 'OI.1', 'Unnamed: 22'],
      dtype='object')

In [39]:
input_file_path = r'C:\Users\mudit\Downloads\removed_example.csv'

df = pd.read_csv(input_file_path)

In [ ]:
df

In [41]:
df.columns

Index(['OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG', 'STRIKE', 'CHNG.1',
       'LTP.1', 'IV.1', 'VOLUME.1', 'CHNG IN OI.1', 'OI.1'],
      dtype='object')

In [50]:
import pandas as pd

def rename_columns(input_file_path, output_file_path, column_rename_map):
    """
    Rename specified columns in a CSV file and save the result to a specified location.
    
    Parameters:
    input_file_path (str): The path to the input CSV file.
    output_file_path (str): The path to save the output CSV file.
    column_rename_map (dict): A dictionary where keys are the current column names and values are the new column names.
    """
    # Read the CSV file into a DataFrame
    df = pd.read_csv(input_file_path)
    
    # Print the original column names
    print("Original column names:")
    print(df.columns)
    
    # Rename the specified columns
    df.rename(columns=column_rename_map, inplace=True)
    
    # Print the new column names
    print("New column names:")
    print(df.columns)
    
    # Save the modified DataFrame to the output file
    df.to_csv(output_file_path, index=False)

# Example usage
input_file_path = r'C:\Users\mudit\Downloads\removed_example.csv'
output_file_path = r'C:\Users\mudit\Downloads\renamed_example.csv'
column_rename_map = {
    'OI' : 'OI_CALL',
    'CHNG IN OI':'CHNG IN OI_CALL', 
    'VOLUME':'VOLUME_CALL', 
    'IV':'IV_CALL', 
    'LTP':'LTP_CALL', 
    'CHNG':'CHNG_CALL',  
    'CHNG.1':'CHNG_PULL',
    'LTP.1':'LTP_PULL', 
    'IV.1':'IV_PULL',
    'VOLUME.1':'VOLUME_PULL',
    'CHNG IN OI.1': 'CHNG IN OI_PULL', 
    'OI.1':'OI_PULL'
}
rename_columns(input_file_path, output_file_path, column_rename_map)

Original column names:
Index(['OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG', 'STRIKE', 'CHNG.1',
       'LTP.1', 'IV.1', 'VOLUME.1', 'CHNG IN OI.1', 'OI.1'],
      dtype='object')
New column names:
Index(['OI_CALL', 'CHNG IN OI_CALL', 'VOLUME_CALL', 'IV_CALL', 'LTP_CALL',
       'CHNG_CALL', 'STRIKE', 'CHNG_PULL', 'LTP_PULL', 'IV_PULL',
       'VOLUME_PULL', 'CHNG IN OI_PULL', 'OI_PULL'],
      dtype='object')

In [48]:
def process_csv(input_file_path, output_file_path, columns_to_remove, column_rename_map):

    df = pd.read_csv(input_file_path, skiprows=0)
    
    # Print the DataFrame after skipping the first two rows
    print("DataFrame after skipping the first two rows:")
    print(df.columns)
    
    # Remove the specified columns
    if columns_to_remove:
        df.drop(columns=columns_to_remove, inplace=True)
    
    # Print the DataFrame after removing columns
    print("DataFrame after removing specified columns:")
    print(df.columns)
    
    # Rename the specified columns
    if column_rename_map:
        df.rename(columns=column_rename_map, inplace=True)
    
    # Print the DataFrame after renaming columns
    print("DataFrame after renaming specified columns:")
    print(df.columns)
    
    # Save the modified DataFrame to the output file
    df.to_csv(output_file_path, index=False)


input_file_path = r'C:\Users\mudit\Downloads\option-chain-ED-NIFTY-18-Jul-2024 (1).csv'
output_file_path = r'C:\Users\mudit\Downloads\processed.csv'
columns_to_remove = ['Unnamed: 0',
       'BID QTY', 'BID', 'ASK', 'ASK QTY', 'BID QTY.1', 'BID.1',
       'ASK.1', 'ASK QTY.1', 'Unnamed: 22']
column_rename_map = {
    'OI' : 'OI_CALL',
    'CHNG IN OI':'CHNG IN OI_CALL', 
    'VOLUME':'VOLUME_CALL', 
    'IV':'IV_CALL', 
    'LTP':'LTP_CALL', 
    'CHNG':'CHNG_CALL',  
    'CHNG.1':'CHNG_PULL',
    'LTP.1':'LTP_PULL', 
    'IV.1':'IV_PULL',
    'VOLUME.1':'VOLUME_PULL',
    'CHNG IN OI.1': 'CHNG IN OI_PULL', 
    'OI.1':'OI_PULL'
}
rename_columns(input_file_path, output_file_path, column_rename_map)

Original column names:
Index(['CALLS', 'Unnamed: 1', 'PUTS'], dtype='object')
New column names:
Index(['CALLS', 'Unnamed: 1', 'PUTS'], dtype='object')